.recent-articles {
  margin: 30px 0;
  padding: 0 5px;
}

.recent-articles .see-more {
  text-decoration: none;
  color: var(--lightenMainColor);
  display: inline-block;
  margin: 10px 5px;
  padding: 5px;
}

.recent-articles .see-more:hover {
  color: var(--darkenMainColor);
}

@media screen and (min-width: 600px) {
  .recent-articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 5px;
  }
}

@media screen and (min-width: 900px) {
  .recent-articles-list .article-preview {
    min-width: calc(33% - 10px);
    max-width: calc(33% - 10px);
  }
}
