.brain-wheel-background {
  display: none;
}

@media screen and (min-width: 770px) {
  .contact-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .contact-wrapper .contact-info-wrapper {
    position: relative;
  }
  .contact-wrapper .brain-wheel-background {
    opacity: 10%;
    width: 330px;
    height: 330px;
    display: block;
    background-image: url("../../images/brain-wheel.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    left: -10px;
  }
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 40%;
  }
}

@media screen and (min-width: 1450px) {
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 35%;
  }
}

@media screen and (min-width: 1880px) {
  .contact-wrapper .contact-form-wrapper,
  .contact-wrapper .contact-form-thanks-wrapper {
    width: 30%;
  }
}
