.post-renderer-wrapper {
  padding: 5%;
}

.post-renderer a {
  text-decoration: none;
  color: var(--lightenMainColor);
}

.post-renderer a:hover {
  color: var(--darkenMainColor);
}

.post-renderer p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
}

.post-renderer li p {
  padding: 0.2rem 0;
}

.post-renderer ul,
.post-renderer ol {
  margin: 0 2rem;
}

.post-renderer ul li::marker {
  color: var(--lightenMainColor);
}

.post-renderer h1,
.post-renderer h2,
.post-renderer h3,
.post-renderer h4,
.post-renderer h5 {
  margin-top: 0.33rem;
  padding: 5px 0;
}

.post-renderer h1:nth-child(1),
.post-renderer h2:nth-child(1),
.post-renderer h3:nth-child(1),
.post-renderer h4:nth-child(1),
.post-renderer h5:nth-child(1) {
  margin-top: 0;
}

.post-renderer h6 {
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  padding: 30px 30px 30px 87px;
  background-color: var(--lightenMainColor);
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  margin: 20px -10px 20px -10px;
  overflow-x: auto;
}

.post-renderer h6 a {
  color: var(--lightTextColor);
}

.post-renderer h6 a:hover {
  color: var(--lightBackgroundColor);
}

.post-renderer h6::before {
  background: url("../../images/brain.png");
  background-size: cover;
  background-blend-mode: multiply;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;
  opacity: 90%;
}

.post-renderer h6::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 72px;
  transform: translateY(-50%);
  border-radius: 2px;
}
