.post-renderer-wrapper {
  padding: 15px;
}

.post-renderer {
  a {
    text-decoration: none;
    color: var(--lightenMainColor);

    &:hover {
      color: var(--darkenMainColor);
    }
  }

  p {
    line-height: 1.5rem;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
  }
  li p {
    padding: 3px 0;
  }
  ul,
  ol {
    margin: 0 2rem;
  }

ul li{
 &::marker {
     color: var(--lightenMainColor);
 }
}

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 5px 0;
  }

  h6 {
    border-radius: 2px;
    font-weight: 500;
    font-size: 1rem;
    padding: 30px 30px 30px 87px;
    background-color: var(--lightenMainColor);
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    margin: 20px -10px 20px -10px;

    &::before {
      background: url("../../images/brain.png");
      background-size: cover;
      background-blend-mode: multiply;
      width: 40px;
      height: 40px;
      display: inline-block;
      position: absolute;
      content: "";
      top: 20px;
      left: 20px;

      opacity: 90%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 70%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.7);
      top: 50%;
      left: 72px;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  }
}
