.faq-list-wrapper {
    padding: 5%;

    ul {
        list-style: none;

        li {
            margin: 1rem 0;
        }
    }
}

a.underlined-link {
    // text-decoration: none;
    color: var(--lightenMainColor);

    &:hover {
        color: var(--darkenMainColor);
    }
        
}