.about-section-header {
  color: var(--lighten20TextColor);
  font-size: 3rem;
  padding: 5% 5% 0;
  
  line-height: 3rem;
  margin-top: 2rem;
  margin-left: 2rem;

span {
  position: relative;
}

  span::before {
    position: absolute;
    height: 3rem;
    width: 1.5rem;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
    background-color: var(--lightenMainColor);
    content: "";
  }
}
