.about-p {
    text-align: justify;
    padding: 20px;
    line-height: 1.4rem;
    color: var(--textColor);

    a {
        color: var(--mainColor);
        text-decoration: none;

        &:hover {
            color: var(--darkenMainColor);
        }
    }
}