.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.nav-item {
  text-transform: uppercase;
  padding: 0.33rem;
  margin: 0.5rem;
  font-weight: 600;
}

.nav-item a {
  text-decoration: none;
  color: var(--lighten20TextColor);
  position: relative;
}

.nav-item a i {
  position: absolute;
  font-size: 0.8rem;
  top: 50%;
  left: -1rem;
  transform: translateY(-36%);
  opacity: 50%;
}

.nav-item .active {
  color: var(--lightenMainColor);
}

.nav-item .active:hover {
  color: var(--darkenMainColor);
}

.nav-item a:hover {
  color: var(--lightenMainColor);
}
