$color: var(--mainColor);

.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.nav-item {
    margin: 5px;
}

.nav-item {
    
    text-transform: uppercase;
    padding: 5px;
    
    font-weight: 600;

    a {
        text-decoration: none;
        color: var(--textColor);
    }

    .active {
        color: var(--mainColor);
    }

    a:hover {
        color: var(--lightenMainColor);
    }
}