.blog-post-sources-list {
  list-style: inside;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--lighten20TextColor);
}

.blog-post-sources-list li {
  margin: 0.4rem 0;
}

.blog-post-sources-list li a {
  text-decoration: none;
  color: var(--lightenMainColor);
}

.blog-post-sources-list li a:hover {
  color: var(--darkenMainColor);
}
