.contact-info-wrapper {
  padding: 5%;
  text-align: right;
  color: var(--lighten20TextColor);
}

.contact-info-header-subtitle {
  font-family: var(--mainFont);
  margin: 1px 1rem 40px 0;
  position: relative;
}

.contact-info-header-subtitle .tooltip {
  position: absolute;
  bottom: -2.3rem;
  right: -1rem;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  background-color: var(--lightBackgroundColor);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.contact-info-header-subtitle .tooltip.tooltip-visible {
  transform: scale(1);
}

.contact-info-header-subtitle span {
  color: var(--lightenMainColor);
  cursor: copy;
  padding: 5px 5px 5px 0;
  font-weight: 600;
  position: relative;
}

.contact-info-header-subtitle span i {
  position: absolute;
  right: -0.9rem;
  top: 27%;
}

.contact-info-header-subtitle span:hover {
  color: var(--darkenMainColor);
}

.contact-info-title span {
  position: relative;
}

.contact-info-title span i {
  position: absolute;
  right: -1.4rem;
  top: 12%;
}

.contact-info-phones a {
  text-decoration: none;
}
